body,
html
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* remove horizontal scroll */
}

body
{
  color: #424242;
  font: 14px Georgia, "Times New Roman", Times, serif;
  line-height: 20px;
}

.main
{
  box-shadow: 0 2px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content /* enable content to wrap according to screen */
{
  display: flex;
  flex-wrap: wrap;
  background-color: #F1F2E4;
}

#main-heading /* edit the main h1 */
{
  width: 100%;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
}

 @media screen and (max-width: 900px) /* increase heading size in larger screens */
 {
    #main-heading
    {
      font-size: 20px;
    }
 }

.table-of-contents /* create a fixed left menu */
{
  padding: 10px 40px 40px 40px;
  position: fixed;
  width: 26%;
  margin-right: 20px;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  font-size: 90%;
  background-color: #F1F2E4;
  z-index: 10;
}

 .info /* edit all the right content */
{
  padding: 40px;
  width: 60%;
  margin: auto;
  border: dotted 1px;
  background-color: #ffffff;
}


.table-of-contents-main /* set the size of the left menu */
{
  order: 1;
  width: 28%;
  z-index: 10;
}

.guide
{
  order: 2;
  width: 70%;
  position: relative;
}

footer
{
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 20;
}

h1
{
  color: #0E2B89;
}

h2,
h3,
h4
{
  border-bottom: dotted 1px;
  border-width: auto;
  margin-top: 20px; 
}

h2
{
  font-size: 20px;
}

h3
{
  font-size: 16px;
}

.table-of-contents h3,
.table-of-contents h4
{
  margin: 10px;
}

/* unvisited link */
a:link
{
  color: #0E2B89;
  text-decoration: none;
}

/* visited link */
a:visited
{
  color: #7DCEE3;
}

/* mouse over link */
a:hover
{
  color: #F3C70E;
}

/* selected link */
a:active
{
  color: #F3C70E;
}

blockquote
{
  background: #7DCEE3;
  display: block;
  margin: 0;
  padding: 10px 0 10px 0;
  position: relative;

  /*Font*/
  color: #666;
  font-family: Courier New,Courier,monospace,sans-serif;
  font-size: 14px;
}

pre 
{
  margin-left: -100px;
  font-family: Courier New,Courier,monospace,sans-serif;
}

 /*
 *
 * table css style 
 *
 */
table
{ 
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 600px; 
  border-collapse: 
  collapse;
  border-spacing: 0; 
  font-size: 12px;
  text-align: center;
}

td, th
{ 
  border: 1px solid transparent; /* No more visible border */
  height: 30px;
  transition: all 0.3s;  /* Simple transition for hover effect */
  padding-left: 10px;
  padding-right: 10px;
}

th
{
  background: #7DCEE3;  /* Darken header a bit */
  font-weight: bold;
}

td
{
  background: #FAFAFA;
  text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td
{ 
  background: #F1F1F1;
}   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td
{ 
  background: #FEFEFE;
}

tr td:hover
{ 
  background: #666; color: #FFF;
} /* Hover cell effect! */