@charset "utf-8";

body { margin: 0px; font-family: Verdana, Geneva, sans-serif; font-size: 9pt; line-height: 16pt; color: #505367; background-color: #909090; }
h1 { margin: 0; padding: 0; color: #036; font-weight: bold; font-size: 14pt; line-height: 18pt; font-family: Georgia, "Times New Roman", Times, serif; }
h2 { margin: 0; padding: 0; color: #916d00; font-weight: bold; font-size: 12pt; line-height: 16pt; font-family: Georgia, "Times New Roman", Times, serif; }
h3 { margin: 0; padding: 0; color: #916d00; font-weight: bold; font-size: 9pt; line-height: 14pt; font-family: Georgia, "Times New Roman", Times, serif; }
a { color: #036; text-decoration: underline; }
a:hover { text-decoration: none; }
a:visited { color: #036; }

#header { height: 100px; background-color: #FFF; }
#header-container { width: 1000px; margin: 0 auto; background-color: #FFF; }
#header-logo { float: left; }
#header-search { float: right; margin-top: 40px; }

#content-bg { width: 100%; background-repeat: repeat-x; background-color: #D2D2D2; }
#content-con { width: 1000px; background-image: url(/2.7/images/bg_carousel.png); margin: 0 auto; }

/* #nav { height: 40px; background-image: url(/2.7/images/nav_bg.png); } */
#nav { font-family: Georgia, "Times New Roman", Times, serif; font-weight: bold; font-size: 8pt; color: #fff; height: 40px; background-color: #1f3351; text-align: center; }
#nav ul { margin-left: 0; padding-left: 0; display: inline; 	} 
#nav ul li { margin-left: 0; margin-bottom: 0; list-style: none; display: inline; line-height: 40px; }
#nav a { color: #fff; text-decoration: none; padding: 11px 20px 10px; }
#nav a:hover { border-top: 2px solid red; color: #fff; background-color: #182c49; }

#feature { background-image: url(/2.7/images/feature_gradient.png); background-repeat: repeat-x; height: 300px; color: #FFF; }
#feature h1 { color: #fff; }
#feature a { color: #fff; text-decoration: underline; }
#feature a:hover { text-decoration: none; }
#feature-img { padding: 20px; width: 405px; float: left; text-align: center; }
#feature-text { padding: 20px 20px 0px 0px; width: 500px; float: right; }

#main-content { width: 1000px; margin: 0 auto; background-image: url(/2.7/images/main_bg.png); background-repeat: repeat-y; /* background-color: #FFF; */ overflow: hidden; }
#main-text { width: 390px; float: left; padding: 20px; }

#right-text { width: 245px; float: left; padding: 20px 10px 20px 20px; } /* total width = 275px */
#right-info { width: 275px; float: right; padding: 20px 10px 20px 10px; font-size: 8pt; font-family: Verdana, Geneva, sans-serif; }

#footer { background-image: url(/2.7/images/footer_bg_wline.png); background-repeat: repeat-x; background-color: #909090; clear: both; }
#footer-con { width: 960px; margin: 0 auto; /* position: relative; left: 50%; margin-left: -500px; */ color: #FFF; background-image: url(/2.7/images/footer_content_wline.png); background-repeat: repeat-x; background-color: #9B9B9B; padding: 20px; line-height: 150%; font-size: 8pt; font-family: Tahoma, Geneva, sans-serif; }
#footer-con a { color: #FFFFFF; }
#footer-con a:hover { text-decoration: none; }

#footer-con ul { margin: 0; padding: 0; }

#single-column { width: 1000px; margin: 0 auto; background-image: url(../images/one_column_bg.png); background-repeat: repeat-y; overflow: hidden; padding: 20px; }

#two-column { width: 1000px; margin: 0 auto; /* position: relative; left: 50%; margin-left: -500px; */ background-image: url(/2.7/images/two_column_bg.png); background-repeat: repeat-y; /* background-color: #FFF; */ overflow: hidden; }
#two-column-left { width: 625px; float: left; padding: 20px; }
#two-column-right { width: 295px; float: right; padding: 20px; font-family: Verdana, Geneva, sans-serif; font-size: 8pt; line-height: 14pt; }

#breadcrumbs { margin: 0; padding: 0px 0px 12px 0px; color: #999999; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; }
#breadcrumbs li { display: inline; margin: 0em 1em 0em 0em; padding: 0px 10px 0px 20px; background-image: url(/images/arrow_interior_grey.gif); background-repeat: no-repeat; background-position: 0 .2em; }
#breadcrumbs a { color: #999; }

#page-title { margin: 20px 0 0 0; padding: 0 0 6px 0; color: #036; font-weight: bold; font-size: 16pt; line-height: 18pt; font-family: Georgia, "Times New Roman", Times, serif; border-bottom: #36C dotted 2px; }
.right-column-title { margin: 70px 0 0 0; padding: 0 0 6px 0; color: #036; font-weight: bold; font-size: 14pt; line-height: 18pt; font-family: Georgia, "Times New Roman", Times, serif; border-bottom: #36C dotted 1px; }

.footnote { font-family: Verdana, Geneva, sans-serif; font-size: 8pt; }

#calendar th { height: 42px; background-color: #787878; }
#calendar td { background-color: #FFFFFF; color: #333; font-size: 8pt; border: #f8f8f8 1px solid; padding: 2px; }
#calendar td:hover { background-color: #CCC; }
#calendar ul { padding: 0; margin: 0; list-style: none; padding-top: 20px; }
#calendar li { padding-bottom: 2px; display: block; }

.contact-table { border-color: #999; border-width: 0 0 1px 1px; border-style: solid; margin: 0; padding: 0; }
.contact-table td { border-color: #999; border-width: 1px 1px 0 0; border-style: solid; margin: 0; padding: 4px; font-size: 7.5pt; }
.contact-table th { border-color: #172944; border-width: 1px 1px 0 0; border-style: solid; margin: 0; padding: 4px; font-size: 9pt; background-color: #172944; color: #FFF; }
.contact-table li { margin: 0; padding: 0px; }

.dl-box { background-image: url(/2.7/images/dl_arrow.png); background-repeat: no-repeat; background-position: right; border: #ccc 1px solid; padding: 12px 80px 16px 20px; height: 60px; font-size: 8pt; }

.block-word a {
	width: 125px;
	display: block;
	padding: 10px 10px 10px 40px;
	background-image: url(/images/icon_word.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-color: #fff;
	border: #69F 1px solid;
	text-align: left;
	float: left;
	margin: 4px;
	font-size: 7pt;
	line-height: normal;
	text-decoration: none;
}
.block-word a:hover {
	width: 125px;
	display: block;
	padding: 10px 10px 10px 40px;
	background-image: url(/images/icon_word.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-color: #D9E1E8;
	border: #69F 1px solid;
	text-align: left;
}

a.form-excel { display: block; background-image: url(/images/icon_excel_large.png); background-repeat: no-repeat; padding: 10px 0px 20px 60px; font-size: 8pt; }
a.form-pdf { display: block; background-image: url(/images/icon_pdf_large.png); background-repeat: no-repeat; padding: 10px 0px 20px 60px; font-size: 8pt; }
a.form-pps { display: block; background-image: url(/images/icon_pps_large.png); background-repeat: no-repeat; padding: 10px 0px 20px 60px; font-size: 8pt; }
a.form-word { display: block; background-image: url(/images/icon_word_large.png); background-repeat: no-repeat; padding: 10px 0px 20px 60px; font-size: 8pt; }
a.form-www { display: block; background-image: url(/images/network_globe.png); background-repeat: no-repeat; padding: 10px 0px 20px 60px; font-size: 8pt; }

a.form-pdf-small { display: block; background-image: url(/images/icon_pdf.png); background-repeat: no-repeat; padding: 10px 0px 20px 60px; font-size: 8pt; }

.block-excel-left a {
	padding: 10px 10px 10px 70px;
	background-image: url(/images/icon_excel.png);
	background-position: 8px ;
	background-repeat: no-repeat;
	display: block;
	border: #999 1px solid;
	margin: 4px;
	min-height: 48px;
	text-decoration: none;
	height: expression( this.scrollHeight < 49 ? "48px" : "auto" ); /* sets min-height for IE */
}
.block-excel-left a:hover { background-color: #D6D6D6; text-decoration: underline; }

.post { font-size: 7pt; font-style: italic; color: #666; }

.block-acrobat a {
	width: 100px;
	display: block;
	padding: 70px 10px 10px 10px;
	background-image: url(/images/icon_acrobat.png);
	background-position: center 10px;
	background-repeat: no-repeat;
	background-color: #fff;
	border: #69F 1px solid;
	text-align: center;
	float: left;
	margin: 4px;
	font-size: 8.5pt;
	line-height: normal; 
	text-decoration: none;
	min-height: 30px;
	height: expression( this.scrollHeight < 31 ? "30px" : "auto" ); /* sets min-height for IE */
}
.block-acrobat a:hover {
	background-color: #D9E1E8;
}

.list-acrobat ul li { margin: 0; padding: 0; }
.list-acrobat li {
	display: inline-block;
	vertical-align: top;
	zoom: 1;
    *display: inline;
	_height: 50px;
	min-height: 50px; 
}
.list-acrobat a {
	display: inline-block;
	min-height: 50px;
	background-color: #F5F7F9;
	background-image: url(/images/icon_pdf.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	border: #69F 1px solid;
	font-size: 8.5pt;
	list-style-type: none;
	padding: 4px 10px 10px 30px;
	margin: 2px;
	zoom: 1;
    *display: inline;
	_height: 50px;
}
.list-acrobat a:hover {
	display: inline-block;
	min-height: 50px; 
	background-color: #D9E1E8;
	background-image: url(/images/icon_pdf.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	border: #69F 1px solid;
	font-size: 8.5pt;
	list-style-type: none;
	padding: 4px 10px 10px 30px;
	margin: 2px;
	zoom: 1;
    *display: inline;
	_height: 50px; 
}

.list-word a {
	display: inline-block;
	min-height: 50px;
	background-color: #F5F7F9;
	background-image: url(/images/icon_word.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	border: #69F 1px solid;
	font-size: 8.5pt;
	list-style-type: none;
	padding: 4px 10px 10px 30px;
	margin: 2px;
	zoom: 1;
    *display: inline;
	_height: 50px;
}
.list-word a:hover {
	display: inline-block;
	min-height: 50px; 
	background-color: #D9E1E8;
	background-image: url(/images/icon_word.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	border: #69F 1px solid;
	font-size: 8.5pt;
	list-style-type: none;
	padding: 4px 10px 10px 30px;
	margin: 2px;
	zoom: 1;
    *display: inline;
	_height: 50px; 
}

.list-acrobat-vertical ul li { margin: 0; padding: 0; }
.list-acrobat-vertical li { margin: 0; padding: 0 0 0 20px; background-image: url(/images/icon_pdf.png); background-position: 0; background-repeat: no-repeat; list-style-type: none; }

.pdf_icon { background-image: url(/images/pdf.gif); background-repeat: no-repeat; background-position: left center; padding: 10px 0 5px 30px; }

.h2-section { margin: 20px 0 70px 0;}

/* start table of contents styling */
ul#toc { list-style: none; width: 98%; font-size: 8.5pt; margin: 0; padding: 0; }
#toc li { background-image: url(/2.7/images/dot.png); background-repeat: repeat-x; background-position: 0 14px; }
#toc li a { float: right; background: #FFF; padding: 0 0 0 10px; }
#toc li span { float: left; background: #FFF; padding: 0 10px 0 0; }
#toc li br { clear: both; }
#toc li:hover { background-image: url(/2.7/images/dot_ro.png); background-repeat: repeat-x; background-position: 0 14px; }

.eqsa-group { padding: 20px 0 30px 0; border-bottom: 1px solid dashed #ccc; }

.halfbox {
	width: 300px;
	margin: 10px 7px 18px 0;
	float: left;
	background-image: url(/images/feature_box_header_bg.png);
	background-repeat: repeat-x;
	background-color: #ffffff;
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}
.halfbox:hover {
	background-color: #fffff9;
}
.halfbox h1 {
	margin: 0;
	padding: 12px;
	line-height: 20px;
	font-size: 125%;
	font-weight: normal;
	color: #696969;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #CCC;
	overflow: auto;
}
.halfbox p {
	margin: 0;
	padding: 0 0 10px 20px;
	font-size: 11px;
	line-height: 16px;
}
.halfbox img {
	border: 0;
}
.halfbox ul {
	margin: 10px 0 0 0;
	padding: 0 0 0 30px;
}
.halfbox li {
	margin: 0;
	padding: 0 0 10px 0;
}

.dl-box-acrobat {
	background-color: #f9f9f9;
	background-image: url(/images/dl_box_acrobat.png);
	background-repeat: no-repeat;
	background-size: 48px;
	border: 1px solid #f0f0f0;
	float: left;
	font-family: Garamond;
	font-size: 11pt;
	font-weight: bold;
	min-height: 48px;
	margin: 20px;
	padding: 10px 4px 4px 60px;
	width: 200px;
	}
.dl-box-acrobat a {
	text-decoration: none;
}
.dl-box-acrobat a:hover {
	text-decoration: underline;
}